h1
{
  color: #037bfc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button
{color: black;
background-color: #037bfc;
border-radius: 12px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: small;
height: 100px;
width: 200px;
background-image: url(../images/papirfly.jpg.webp);
background-size: 100%;
background-position: right;
}

button:hover {
  background-color: #b5cee8;
  color: #037bfc;
  ;
}

.font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url(../images/baggrund.png);
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: 85%;
}