header
{
  color: aqua;
}

button
{color: black;
background-color: aquamarine;
border-radius: 12px;
}

button:hover {
  background-color: black;
  color: aquamarine;
}

.checkbox {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
