h1
{
  color: #037bfc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button
{color: black;
background-color: #037bfc;
border-radius: 12px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

button:hover {
  background-color: #b5cee8;
  color: #037bfc;
}

.font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url(https://static01.nytimes.com/newsgraphics/2023-06-13-manga-translation/0ecaf47ddf2ca296ea63c78681639ff963f3a1ba/_big_assets/images/tekkonkrinket-highlight-460_x2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}